<div class="user-card">
    <h3>${user.name}</h3>
    <p><span class="label">Email:</span> <span>${user.email}</span></p>
    <p><span class="label">Account Type:</span> - <span>${user.acctype}</span></p>
    <p><span class="label">Address:</span> <span>${user.address}</span></p>
    <p><span class="label">Balance:</span> $<span>${user.balance}</span></p>
    <hr/>
    <p>App Name: <span>${appName}</span></p>
    <p>Current Time: <span>${getFormattedTime()}</span></p>
    <p>Maintenance Mode: <span>${config.maintenanceMode}</span></p>
</div>
